[Unit]
Description=Valheim Server
After=docker.service
Requires=docker.service
ConditionPathExists=/etc/sysconfig/valheim-server

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run \
          --name %n \
          --pull=always \
          --rm \
          --cap-add=sys_nice \
          --stop-timeout 120 \
          -v /storage/servers/valheim/server1/config:/config:Z \
          -v /storage/servers/valheim/server1/data:/opt/valheim:Z \
          -e VALHEIM_PLUS=true \
          -p 2456-2458:2456-2458/udp \
          --env-file /etc/sysconfig/valheim-server \
          ghcr.io/lloesche/valheim-server
ExecStop=/usr/bin/docker stop %n
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
